p{
     color:rgb(0, 0, 0);
     text-align:center;
     background-color:rgb(255, 255, 255);
}

h1{
     color:rgb(255, 255, 255);
     background-color: black;
     text-align:center;
}
img{
     display: block;
    margin-left: auto;
     margin-right: auto;
     width: 40%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(3, 35, 1);
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}