p{
     color:rgb(0, 0, 0);
     text-align:center;
     background-color:rgb(255, 255, 255);
}
h1{
     color:rgb(255, 255, 255);
     background-color: black;
     text-align:center
}
img{
     margin:auto

}